<!--
  Tailwind UI components require Tailwind CSS v1.8 and the @tailwindcss/ui plugin.
  Read the documentation to get started: https://tailwindui.com/documentation
-->
<div class="bg-white shadow overflow-hidden sm:rounded-md">
  <ul>
    <%= render_many @posts, PublicPostView, "index_item.html", as: :post %>
  </ul>
</div>

